body{
  font-family: Poppins;
  background-color: #fcd04b;
}

h1, p {
  text-align: center;
}

/* animations 1 */

@keyframes rolling {
  0%{
    background-color: red;
    transform: scale(1);
  }
  25%{
    background-color: orange;
  }
  50%{
    background-color: yellow;
    transform: scale(3);
    margin-left: 50%;
  }
  75%{
    background-color: green;
  }
  100%{
    background-color: blue;
    margin-left: 100%;
    transform: scale(1);
  }
}

.ball{
  animation-name: rolling;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.58,.07,.67,.96);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}

/* animations 2  */
.spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid #fcd04b;
  border-top-color: teal;
  border-bottom-color: navy;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.spinner p {
  animation: rotate 1s linear infinite reverse;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* animations 3  */

@keyframes scroll {
    0%{
      transform: translateX(-82px);
    }
    100%{
      transform: translateX(1000px);
    }
}

@keyframes daynightcycle {
    0%{
       filter: grayscale(100%) invert(100%) brightness(0.2);
    }
    5% {
       filter: grayscale(0) invert(0) brightness(1);
    }
    65% {
       filter: grayscale(0) invert(0) brightness(1);
    }
    70%{
       filter: grayscale(100%) invert(100%) brightness(0.2);
    }
    100%{
       filter: grayscale(100%) invert(100%) brightness(0.2);
    }
}

@keyframes sunmotion{
    0%{
      transform: translate(0px,0px);
    }
    7% {
      transform: translate(150px,-200px);
    }
    35% {
      transform: translate(500px,-300px);
    }
    62% {
      transform: translate(800px,-200px);
    }
    70%{
      transform: translate(900px,0px);
    }
}



@keyframes suncolor{
    0%{
      background-color: white;
    }
    7% {
      background-color: yellow;
    }
    62% {
      background-color: yellow;
    }
    70%{
      background-color: orange;
    }
}

@keyframes moonmotion{
    67%{
      transform: translate(0px,0px);
    }
    85% {
      transform: translate(0px,-300px);
    }
    100%{
      transform: translate(0px,0px);
    }
}

.world {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  background-color: purple;
}

.sun{
  width: 50px;
  height: 50px;
  margin-top: 400px;
  border-radius:25px;
  position: absolute;
  background-color: yellow;
  animation: sunmotion 13s linear 0s infinite,
             suncolor 13s linear 0s infinite;
}

.moon{
  margin-top: 400px;
  width: 50px;
  height: 50px;
  border-radius:25px;
  position: absolute;
  background-color: white;
  animation: moonmotion 13s ease-in-out 0s infinite normal backwards;
}

.sky{
  width: 1000px;
  height: 500px;
  position: absolute;
  background-color: #5b5bff;
  animation: daynightcycle 13s linear 0s infinite;
}

.ground{
  width: 1000px;
  height: 100px;
  margin-top: 400px;
  position: absolute;
  background-color: #39e439;
  animation: daynightcycle 13s linear 0s infinite;
}

.house {
  background-image: url("../assets/img/house-small.png");
  animation: scroll 5s linear 0s infinite reverse,
             daynightcycle 13s linear 0s infinite normal;
  margin-top: 322px;
  width: 82px;
  height: 82px;
  position: absolute;
}
