@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body{
  font-family: Poppins;
  background-color: #025f84;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2ad38f;
  border-radius: 10px;
  flex-basis: 50px;
}

footer {
  width: 100%;
  background-color: #2ad38f;
  border-radius: 10px;
  flex-basis: 50px;
}


main {
  flex-grow: 1;
  flex-basis: 400px;
  display: flex;
  background-color: black;
}

article{
  flex-basis: 60%;
  background-color: white;
  border-radius: 10px;
}

nav{
  flex-basis: 20%;
  background-color: grey;
  border-radius: 10px;
  order: -1;
}

aside{
  flex-basis: 20%;
  background-color: #2ac2d3;
  border-radius: 10px;
}


@media screen and (max-width: 640px) {
  main {
    flex-direction: column;
  }

  article {
    flex-basis: 100%;
  }

  nav {
    order: 0;
  }
}
